.button {
    width: 100%;
    padding: 12px;
    font-size: 12px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 4px;
    border: 1px solid #ff19d5;
}

.button-primary {
    color: black;
    background-color: white;
}

.button-secondary {
    color: white;
    font-weight: bold;
    background-color: #ff19d5;
}

.button:hover {
    color: #d415b1;
    border-color: #d415b1;
}

.button-secondary:hover {
    color: white;
    background-color: #d415b1;
}