.button {
    width: 100%;
    padding: 12px;
    font-size: 12px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 4px;
    height: fit-content;
    border: 1px solid var(--color-primary);
}

.button-primary {
    color: var(--color-primary);
    background-color: white;
}

.button-secondary {
    color: white;
    font-weight: bold;
    background-color: var(--color-primary);
}

.button:hover {
    color: var(--color-primary-dark);
    border-color: var(--color-primary-dark);
}

.button-secondary:hover {
    color: white;
    background-color: var(--color-primary-dark);
}