.mobile-menu {
    .backdrop {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        opacity: 0.5;
        background-color: black;
    }
}

.mobile-menu-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 85vw;
    height: 100vh;
    z-index: 15;
    transition: .3s;
    background-color: white;
    border-right: 1px solid black;

    a {
        justify-content: center;
    }

    .close {
        padding: 16px;
        display: flex;
        justify-content: flex-end;
    }

    .logout {
        bottom: 0;
        width: 100%;
        display: flex;
        cursor: pointer;
        position: absolute;
        justify-content: center;

        span {
            margin-left: 5px;
        }
    }
}



.mobile-menu-close {
    .mobile-menu-content {
        left: -100%;
    }

    .backdrop {
        left: 100%;
    }
}