.side-menu {
  width: 200px;
  height: 100dvh;
  display: flex;
  transition: 0.3s;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-right: 1px solid #b3b3b3;

  @media (max-width: 762px) {
    display: none;
  }
}

.side-menu > .logo {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-menu > .logo > img {
  width: 100%;
  max-width: 100px;
}

.side-menu > .active {
  color: white;
  background: #ff19d5;
}

.side-menu > .active:hover {
  color: white;
}

.side-menu span {
  margin-left: 5px;
}

.side-menu-close {
  width: 80px;
}

.side-menu-close a {
  justify-content: center;
}

.side-menu-close span {
  display: none;
}

.side-menu > .side-menu-minimize {
  bottom: 0;
  width: 100%;
  display: flex;
  padding: 10px;
  color: black;
  cursor: pointer;
  position: absolute;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-top: 1px solid #b3b3b3;
}