.report-view {
    width: 100%;
    display: flex;
    padding: 12px;
    flex-direction: column;
    background-color: white;

    p {
        margin: 4px;
    }

    .report-header {
        display: flex;
        padding: 16px;
        font-size: 24px;
        font-weight: bold;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        img {
            width: 120px;
        }

        .buttons {
            top: 24px;
            left: 24px;
            right: 24px;
            display: flex;
            position: absolute;
            justify-content: flex-end;
            
            button {
                border: 0;
                cursor: pointer;
                -webkit-appearance: none;
                background-color: transparent;
            }
        }
    
        @media print {
            .buttons {
                display: none;
            }
        }
    }

    .section {
        display: flex;
        flex-direction: column;
        
        .section-title {
            color: white;
            padding: 6px 8px;
            font-weight: bold;
            background-color: #ff19d5;
        }

        .section-content {
            padding: 8px;
            display: flex;
            flex-direction: row;
            padding-bottom: 16px;
            
            @media screen and (max-width: 800px) {
                flex-direction: column;
            }
        }

        .section-fetus {
            display: flex;

            p {
                flex: 1;
            }
            
            @media screen and (max-width: 800px) {
                flex-direction: column;
            }
        }

        .section-table {
            width: 100%;
            text-align: center;
            border-collapse: collapse;

            td, th {
                padding: 6px;
                font-weight: normal;
                border: 1px solid #f0f0f0;
            }
        }
    }

    .row {
        flex-direction: row !important;
    }

    .column {
        flex-direction: column !important;
    }

    .signature {
        display: flex;
        align-items: center;
        flex-direction: column;

        img {
            width: 125px;
        }
    }
}

@media print {
    body,
    html {
        width: 841px;
    }

    .report-view {
        padding: 0;
    }
}

.print {
    padding: 0 12px;
    max-width: 816px;
}