.report-card {
    padding: 12px;
    display: flex;
    margin-bottom: 8px;
    border-radius: 6px;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 21px 5px rgba(0,0,0,0.05);

    .date {
        display: flex;
        margin-right: 12px;
        padding-right: 12px;
        align-items: center;
        flex-direction: column;
        border-right: 1px solid #eaeaea;

        .day {
            font-size: 22px;
        }

        .month {
            font-size: 18px;

            &::first-letter {
                text-transform: capitalize;
            }
        }
    }

    .content {
        flex: 1;

        .title {
            font-weight: bold;
        }
    }

    .buttons {
        a, button {
            color: #000;
            border: none;
            cursor: pointer;
            margin-left: 12px;
            background-color: transparent;
        }
    }

    .bottomsheet {
        position: absolute;
        bottom: -200px;
        transition: 0.3s bottom;
        left: 0;
        z-index: 2;
        right: 0;
        background: #f3f3f3;
        border-radius: 12px 12px 0 0;
        display: flex;
        flex-direction: column;
        /* padding: 16px 0; */
        
        a, button {
            border: none;
            text-align: center;
            font-size: 18px;
            cursor: pointer;
            width: 100%;
            color: #000;
            border-bottom: 1px solid #dcdcdc;
            background-color: transparent;
            padding: 12px 0 12px 0;
        }
    }

    .open {
        bottom: 0;
    }
    
    .backdrop {
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: black;
        opacity: 0.5;
    }
}