
.main-content {
    flex: 1;
    height: 100dvh;
    overflow: scroll;
    padding-top: 60px;

    @media (min-width: 762px) {
        padding-top: unset;
    }
}

.main-content > .top-bar {
    display: flex;
    align-items: center;
    padding: 10px 20px 0 20px;

    @media (min-width: 762px) {
        height: 65px;
        padding: 20px;
        background-color: white;
        box-shadow: 0px 0px 21px 5px rgba(0,0,0,0.05);
    }
}

.main-content > .top-bar a {
    transition: 0.3s;
    display: flex;
    text-decoration: none;
    justify-content: center;
}

.main-content > .top-bar a:hover {
    color: #ff19d5;
}

.main-content > .content-wrapper {
    padding: 16px;
    height: calc(100% - 65px);
}

.content {
    min-height: 100%;
    
    &:first-child {
        padding-bottom: 8px;
    }
}

.content-bg {
    padding: 20px;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0px 0px 21px 5px rgba(0,0,0,0.05);
}