.custom-table-wrapper {
    color: #3a3939;
    overflow: hidden;
    border-radius: 6px;
    margin-bottom: 10px;
    border: 1px solid #c0c0c0;
}
.custom-table-wrapper > .custom-table {
    flex: 1;
    width: 100%;
    overflow: hidden;
    border-collapse: collapse;
    border-radius: 0 0 3px 3px;
    border: 1px solid #e5e5e5;
}

.custom-table-wrapper > .custom-table-title {
    margin: 0;
    width: 100%;
    display: flex;
    font-size: 12px;
    padding: 0 10px;
    align-items: center;
    background-color: #eeeeee;
    justify-content: space-between;
    border-bottom: 1px solid #c0c0c0;
}

.custom-table-wrapper > .custom-table th {
    padding: 2px 5px;
    font-size: 10px;
    text-align: left;
    font-weight: normal;
    background-color: #f1f1f1;
}

.custom-table-wrapper > .custom-table tr {
    border-top: 1px solid #c0c0c0;
}

.custom-table-wrapper > .custom-table td {
    padding: 5px;
    text-align: center;
}

.custom-table-wrapper > .custom-table td > div {
    padding: 0;
}

.custom-table-wrapper > .custom-table svg {
    cursor: pointer;
}

.custom-table-wrapper > .custom-table svg:hover {
    color: #ff19d5;
}